* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
}

::-ms-input-placeholder {
  color: #9B9B9B;
}

.flex-wrapper{
    display: flex;
    justify-content:space-between ;
}                                                  /*header*/
header{
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1360px;
  margin: 0 auto;
  align-items: center;
}
header h1.left{
 width: 140px;
}
header h1.left a{
 width: 100%;
 display: block;
}
header h1.left a img{
 width: 100%;
 display: block;
}
header nav{
}
header nav ul{
 display: flex;
 align-items: center;
}
header nav ul li{
 margin-right: 45px;
}
header nav ul li:last-child{
	margin-right: 0;
}
header nav ul li a{
 font-size: 15px;
}
header nav ul li a.button{
    padding: 8px 16px;
    color: #ff784b;
    background:#ffe4db ;
    border-radius:8px ;
    font-weight: 600;
}

                                          /*spotlight*/
#spotlight{
 padding:98px 72px;
}   
#spotlight section.content{
width: 50%;
color: #000;
}   
#spotlight section.content h1{
 font-size: 56px;
 margin-bottom: 35px;
 font-weight: 700;
}   
#spotlight section.content p{
max-width: 85%;
font-size: 20px;
}   
#spotlight section.content form{
 margin-top: 50px;
 position: relative;
 max-width: 85%;
}  
#spotlight section.content form input[type=email]{
    height: 60px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #000;
    padding: 12px 16px;
    font-size: 17px;
    width: 100%;
    display: block;
}
#spotlight section.content form input[type=submit]{
    padding: 17px 25px;
    font-size: 16px;
    min-width: 140px;
    background:#0055fb ;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    border-radius: 12px;
}  
#spotlight div.right-container{
 width: 50%;
 position: relative;
}
#spotlight div.right-container div.img-container{

}
#spotlight div.right-container div.img-container img{
 display: block;
 max-width: 100%;
 transform: scale(1.2);
}      
#spotlight div.right-container a.play-button{
 position: absolute;
 top: -20%;
 left: 45%;
 z-index: 3;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 88px;
 height: 88px;
 border-radius: 50%;
 background: #ff784b;
}
#spotlight div.right-container a.play-button img{
   filter: invert(1);
}
#spotlight div.right-container a.play-button:before{
  content: "";
  display: block;
  width: 71px;
  height: 50px;
  background: url(../images/dotted-curve.svg) no-repeat center;
  background-size:71px 50px ;
  position: absolute;
  top: 50%;
  left: -100%;
}
                                      /*brands*/
#brands{
 padding: 32px 16px;
}   
#brands p{
text-align: center;
margin-bottom: 40px;
}   
#brands ul{
display: flex;
justify-content: space-between;
width: 85%;
margin: 0 auto;
align-items: center;
}   
#brands ul li{

}   
#brands ul li a{
 display: block;
}   
#brands ul li a img{
 display: block;
 width: 100%;
}   